body {
  background: #fda !important;
}
img {
  border: 0;
}
h1.site-title {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.icon, .header-logo-title,
.all_pics_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.all_pics, .icons-wrapper.album-fotos, .blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
}
.all_pics_section {
  margin: 5% auto;
}
.all_pics_section h3 {
  margin: 0 0 5% 0;
}
.article {
  border: 1px solid palevioletred;
  background: papayawhip;
}
.cta {
  width: 90%;
  margin: 0 5% 7%;
}
.cta-button {
  font-weight: 100;
  background: darkkhaki;
  margin-top: 5%;
}
.cta-button:hover {
  background: lightgreen;
  color: red;
  box-shadow: 5px 5px 20px rgba(#000,0.7);
}
.img.sm img {
  width: 100%;
}
