body {
  background: #fda !important;
}
header {
  margin: 5% 0;
  padding: 2% 0;
  background: #aee8a7;
}
h1.site-title {
  width: 100%;
  text-align: center;
  padding: 0;
}
.icon, .header-logo-title,
.all_pics_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all_pics, .icons-wrapper.album-fotos, .blog {
  display: flex;
  flex-wrap: wrap;
}
.all_pics_section {
  margin: 5% 0;
}
.all_pics_section h3 {
  margin: 0 0 5% 0;
}
.article {
  border: 1px solid pink;
  background: "papayawhip";
}
