$c1 : lighten(#fda,10%);
$c2 : darken(steelblue,5%); // font, icons color
$c3 : tint(rgb(219, 159, 63),0%); // body bg
$c4 : rgba(darken(red, 15%), .7); //
$c5 : rgba(lighten(steelblue, 45%),.3); // icons bg
$c6 : rgba(#fff,.1); // sections bg color
$c7 : #eee; // icon border color
$c8 : lighten(#aee8a7, 0%); // icon bg on hover state color
$c9 : darken(red, 10%); // icon on hover state color
$c10: coral; // all buttons generic bg color
$c11: #fff; // button text color
$c12: tint(steelblue,50%); // button border color

body {
	background-color: $c3;
}
body, a, p, h1, h2, h3, h4, h5, h6 {
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Indie Flower', cursive;
   //font-family: 'Oxygen', sans-serif;
   //font-family: 'Catamaran', sans-serif;
   font-family: 'Inconsolata', monospace;
  //font-family: 'Quicksand', sans-serif;
  //  font-family: 'Permanent Marker', cursive;
  //font-family: 'Open Sans', sans-serif;
	//font-family: $monospace;
  color: $c2;
}
section.section1, section.ofertas, section.about, section.portfolio {
	background-color: $c6;
		border: 1px solid #fff;
}
.title-front h3 {
  font-weight: 500;
}
.title-front h3, .offer-text, h3.icon_title, {
	color: $c2;
}
ul.offer-text, ul.porque {
	list-style: none;
}
ul.porque li::before {
content: "\f006";
}
#{$all-buttons} {
	background-color: $c10;
	color: $c11;
	border: 2px solid $c12;
	//@include button(shiny, $c10);
}
#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: coral;
}
#{$all-buttons-active} {
  background-color: #00f;
}
