.icons-wrapper a {
	//width: 26%;
	border: 1px solid $c7;
	margin: 1% 1%;
	overflow: hidden;

}
.portfolio>.icons-wrapper a {
	margin: 0.2%;
}
.icon {
	height: 100%;
  background-color: $c5;
  padding: 8% 1% 5%;
}
[class^=icon-] {
	font-size: 4em;
//  color: $c4;
}
.about .icons-wrapper a {
  width: 48%;
  margin: 5px;
}
.icon.img {
	padding: 0;
}
.section1>.icons-wrapper a {
	width: 26%;
}
